<nav class="flex items-center justify-between flex-wrap bg-teal-800 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
      />
    </svg>

    <span class="font-semibold text-xl tracking-tight">ryptoFolio</span>
  </div>
  <div class="w-full block lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
      >
        Dashboard
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-neutral-300 hover:text-white mr-4"
      >
        Portfolio
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-neutral-300 hover:text-white"
      >
        Transactions
      </a>
    </div>
  </div>
</nav>
