<div class="wrapper">
  <div class="nav container d-flex justify-content-between">
    <geerts-horizontal-menu class="d-none d-md-block">
      <geerts-horizontal-menu-item
        routerLink="/about"
        label="Over ons"
      ></geerts-horizontal-menu-item>
      <geerts-horizontal-menu-item
        routerLink="/presentation"
        label="Onze creaties"
      ></geerts-horizontal-menu-item>
      <geerts-horizontal-menu-item
        extLink="http://www.wivipro-webshop.be"
        label="Webshop"
      ></geerts-horizontal-menu-item>
      <geerts-horizontal-menu-item
        routerLink="/wholesale"
        label="Groothandel"
      ></geerts-horizontal-menu-item>
    </geerts-horizontal-menu>

    <div class="profile d-none d-md-block">
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-user"></i>
            <span class="ms-2">aanmelden</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <div class="sm-hamburger d-md-none">
        <i class="fas fa-bars"></i>
      </div>
      <div class="sm-user d-md-none">
        <i class="fas fa-user"></i>
      </div>
      <div class="brand d-flex flex-lg-row flex-column">
        <div class="title">Wivipro</div>
        <div class="subtitle ms-4 mb-2 ps-2">
          <img src="assets/prinsjes.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="content container">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <div class="footer small">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Contact</strong><br /><br />
            Wivipro
            <br />
            Hoevensebaan 179
            <br />
            2950 Kapellen
            <br />
            <br />
            Tel: +32 (0)3 665 26 48<br />
            GSM: +32 (0)474 222 085<br />
            Email: <a href="mailto:info@wivipro.be">info@wivipro.be</a><br />
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Legal</strong><br /><br />
            BTW: BE 0812 026 788<br />
            Record: BE86 6528 3312 0150<br />
            <a
              href="https://www.dropbox.com/s/j3czcyok2p3hwto/Algemene%20Verkoopsvoorwaarden.pdf?dl=0"
              target="_blank"
              >Verkoopsvoorwaarden</a
            ><br />
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Openingsuren</strong><br /><br />
            <table class="hours">
              <tr>
                <td>maandag:</td>
                <td>gesloten</td>
              </tr>
              <tr>
                <td>dinsdag:</td>
                <td>op afspraak</td>
              </tr>
              <tr>
                <td>woensdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>donderdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>vrijdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>zaterdag:</td>
                <td>10:00u - 17:00u</td>
              </tr>
              <tr>
                <td>zondag:</td>
                <td>gesloten</td>
              </tr>
            </table>
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Social</strong>
            <br /><br />
            <div class="social d-flex">
              <a
                href="https://www.facebook.com/wivipro/"
                target="_blank"
                title="Facebook"
              >
                <i class="fab fa-facebook-square"></i>
              </a>
              <a
                href="https://www.instagram.com/wiviprokapellen/"
                target="_blank"
                title="Instagram"
              >
                <i class="fab fa-instagram-square"></i>
              </a>
              <a
                href="https://www.pinterest.com/wivipro/"
                target="_blank"
                title="Pinterest"
              >
                <i class="fab fa-pinterest-square"></i>
              </a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
