<div class="wrapper">
  <div class="logo">
    <img src="../assets/logo.png" title="GiDS logo" />
  </div>
  <div class="address mt-3">Spaansemolenstraat 27 - 2040 Zandvliet</div>
  <div class="contact">
    <div class="phone">
      0472 97 02 35
      <i class="fa-solid fa-square-phone ps-1"></i>
    </div>
    <div class="mail">
      <a href="mailto:info@gidsarchitectenbureau.be"
        >info@gidsarchitectenbureau.be</a
      >
      <i class="fa-solid fa-square-envelope ps-2"></i>
    </div>
  </div>
  test test test test test
</div>
